* {
    box-sizing: border-box;
    background-color: tan;
    text-align: center;
    
  }
  html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
  }

#top {
    justify-self: top;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.sticky {
  display: flex;
  margin: 50px;
  padding: 10px;
  flex-direction: column;
  position: sticky;
  align-self: flex-start;
  cursor: pointer;
}


#icon {
width: 60px;
height: 60px;
}


  nav {
    padding: 15px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border: 2px inset black;
    display: flex;
    font-weight: bold;
    cursor: pointer;
  }

/* button {

} */


footer {
  border: 10px groove wheat;
  }