*{
    box-sizing: border-box;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    /* position: relative; */
    flex-direction: column;
    background-color: #2F1000;
}

nav {
    
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    display: flex;
    
  }

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    /* position: relative; */
    flex-direction: column;
    background-color: #2F1000;
}