*{
    box-sizing: border-box;
   
}

nav {
    
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    display: flex;
    
}



.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 10px solid black;
    
}

.info {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 10px solid black;
    margin-top: 20px;
    
}